<html>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<body>
    <h1>Servey Form</h1>

 <form action="/result" method="post">
 	<p>Your Name: <input type="text" name="name"></p>
 	<p>Dojo Location:
	 	<select name="location">
		  <option value="Mountain View">Mountain View</option>
		  <option value="Dallas">Dallas</option>
		  <option value="Huston">Huston</option>
		  <option value="Seoul">Seoul</option>
		</select>
	</p>
	<p>Favorite Language:
	 	<select name="language">
		  <option value="Enlglish">English</option>
		  <option value="Spanish">Spanish</option>
		  <option value="Korean">Korean</option>
		  <option value="Bangladash">Bangladash</option>
		</select>
	</p>
	<p>Comment (optional):</p>
		<textarea name="comment" rows="4" cols="50"></textarea>
		<input type="submit" name="submit" value="Submit">
	
 </form>
</body>
</html>
